h1, h2 {
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 60px;
    font-weight: 200;
    font-size: 52px;
    text-shadow: 0px 2px 3px #555;
}

.fill {
    background-color: #44b7fa;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    position: absolute;
    padding-bottom: 50px;
    z-index: 1050;
}

.btn {
    width: 220px;
    margin: 5px;
    border-radius: 30px;
}

.btn.location-btn {
    width: 120px;
    border-radius: 3px;
}

select:hover {
    cursor: pointer;
}
.min-label {
    float: left;
}

.max-label {
    float: right;
}

.value-label {
    width: 80px;
    margin: 0px 8px;
    padding: 1px 4px;
    background: #2FA4E7;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 300 !important;
}

input:hover {
    cursor: pointer;
}

.price-slider {
    width: 90%;
    margin: auto;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    padding: unset;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.price-slider:hover {
    opacity: 1;
}

.search-form {
    margin: auto;
    width: 600px;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
    background: #ffffff;
    box-shadow: 5px 5px 12px 1px;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
}

@media only screen and (max-width: 600px) {
    .search-form {
        width: 300px;
    }
    .container {
        padding-top: 20px;
    }
}

.error-mgs {
    color: #dc3545;
}