<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <div class="fill">
    <div>
      <h1>Welcome To Shop Saver</h1>
      <h2>Search For Specials In Your Area</h2>
      <div *ngIf="showForgotPasswordForm === false" class="search-form">
        <div class="login-container">
          <div class="form-group">
            <label class="form-control-label">Select A Category:</label>
            <select class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && selectedCategory === '' }"
              [(ngModel)]='selectedCategory'>
              <option class="form-control" value="" disabled selected>--- Select a category ---</option>
              <option class="form-control" [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}
              </option>
            </select>
            <div *ngIf="isSubmitted && selectedCategory === ''" class="invalid-feedback">
              <div *ngIf="selectedCategory === ''">Category is required!</div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label">Selected Maximum Price:</label>
            <label class="form-control-label value-label">R {{selectedPrice}}</label>
            <div>
              <label class="min-label">R0</label>
              <label class="max-label">R100000</label>
              <input [(ngModel)]='selectedPrice' class="form-control price-slider" type="range" min="0" max="100000" value="{{selectedPrice}}" step="500">
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label">Selected Search Radius:</label>
            <label class="form-control-label value-label">{{selectedDistance}} km</label>
            <div>
              <label class="min-label">0 km</label>
              <label class="max-label">50 km</label>
              <input [(ngModel)]='selectedDistance' class="form-control price-slider" type="range" min="0" max="50" value="{{selectedDistance}}" step="1">
            </div>
          </div>

          <hr>
          <div class="clearfix">
            <p class="error-mgs">{{errorMgs}}</p>
          </div>
          <div>
            <input type="submit" value="Search" class="btn btn-primary btn-lg" (click)="search()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Location Modal Popup -->
<ng-template #locationModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm Location</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>Please Note: </strong>We are unable to determine your location. Please allow/enable your location!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger location-btn" (click)="hideModal()">OK</button>
  </div>
</ng-template>